@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/assets/noise.png), radial-gradient(circle, rgb(105, 105, 105) 0%, rgb(221, 221, 221) 100%);
  background-size: 400px, 100% 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
